@import "fonts.css";

@tailwind base;

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

* {
    outline-color: theme('colors.redis.default') !important;
}

input, textarea, select {
    @apply p-2 rounded shadow;
}

/*<editor-fold desc="Table" defaultstate="collapsed">*/
table {
    @apply rounded overflow-hidden shadow bg-white;
}

table th {
    @apply bg-gray-100 font-semibold tracking-wide text-gray-800;
}

table td, table th {
    @apply py-2 px-4 text-center;
}

table > thead > tr, table > tbody > tr:not(:last-child) {
    @apply border-b border-gray-200;
}
/*</editor-fold>*/

/*<editor-fold desc="Toasted" defaultstate="collapsed">*/
div.toasted.toasted-primary {
    @apply rounded shadow-xl py-2 px-4;
    font-weight: 400;
}

div.toasted.toasted-primary.default {
    @apply bg-gray-800
}

div.toasted.toasted-primary.info {
    @apply bg-picton-blue-600
}

div.toasted.toasted-primary.success {
    @apply bg-jungle-green-500
}

div.toasted.toasted-primary.error {
    @apply bg-red-600
}
/*</editor-fold>*/

@tailwind components;

@tailwind utilities;
