@tailwind base;

@font-face {
    font-family: 'Work Sans';
    src: url('./WorkSans-VariableFont_wght.ttf') format('truetype')
}

body {
    font-family: 'Work Sans', sans-serif;
}

@tailwind components;

@tailwind utilities;
